.Row {
  background-color: #000;
  padding-top: 20px;
  &-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0px 100px 20px 100px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-title {
    color: #db202c;
    background-color: black;
    text-align: left;
    padding-left: 100px;
  }
  &-title h2 {
    margin: 0px 10px;
    font-family: BebasNeue;
  }
  &-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin: 10px;
    transition: transform 450ms;

    &large {
      max-height: 250px;
    }
    &:hover {
      transform: scale(1.09);
    }
  }
  &:hover {
    transform: scale(1.08);
  }
}
